
.App {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
  color: aliceblue;
  font-size: 3.6rem;
}

.calculator-container{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: rgb(74, 111, 190);
  border: 4px dashed rgb(240, 236, 242);
  border-radius: 10px;
}

.row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

